package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};

/**
 * $!{table.comment}
 * @author ${author}
 * @date ${cfg.localDate}
 */
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}
